.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
  background-color: #f1f1f3;
}

* {
  margin: 0;
  padding: 0;
}

/* sec1 styles */
.sec1-container {
  background-color: #006a504e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 1200px; */
  height: 530px;
  margin: 60px 160px;
  padding: 25px;
  border-radius: 24px;
}
.sec1-container .sec1-content .sec1-subtitle {
  font-size: 20px;
  color: #0e0e0e47;
  margin-bottom: 12px;
}
.sec1-container .sec1-content .sec1-heading {
  font-size: 44px;
  margin-bottom: 19px;
}
.sec1-container .sec1-content .sec1-button {
  background-color: #006a50;
  padding: 10px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.sec1-container .sec1-content .sec1-button:hover {
  background: linear-gradient(135deg, #50c878, #008000);
  background-color: darkgreen;
  border: 3px solid lightgreen;
  color: white;
}

/* sec2 styles */
.sec2-container {
  margin: 60px 160px;
  height: 450px;
}
.sec2-container .sec2-content .sec2-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}
.sec2-container .sec2-content .sec2-paragraph {
  font-size: 12px;
  font-weight: 400;
  color: #0e0e0e7e;
  margin-bottom: 32px;
}
.sec2-container .sec2-blocks {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
/* block1 style */
.sec2-container .sec2-blocks .block1 {
  width: 400px;
  background-color: #548ff55a;
  padding: 25px;
  margin-right: 20px;
  border-radius: 16px;
}
.sec2-container .sec2-blocks .block1 img {
  margin-bottom: 10px;
}
.sec2-container .sec2-blocks .block1 h5 {
  margin-bottom: 10px;
  font-size: 15px;
  color: #0e0e0ed0;
}
.sec2-container .sec2-blocks .block1 p {
  font-size: 12px;
  color: #0e0e0e6f;
  font-weight: 400;
  margin-bottom: 15px;
}
.sec2-container .sec2-blocks .block1 button {
  padding: 10px;
  background-color: #548ff5a4;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.sec2-container .sec2-blocks .block1 button:hover {
  background: linear-gradient(135deg, #1e90ff, #00e5ff);

  background-color: darkcyan;
  border: 3px solid rgba(0, 0, 139, 0.321);
  color: white;
}

/* block2 style */
.sec2-container .sec2-blocks .block2 {
  width: 400px;
  background-color: #09a15d5d;
  padding: 25px;
  margin-right: 20px;
  border-radius: 16px;
}
.sec2-container .sec2-blocks .block2 img {
  margin-bottom: 10px;
}
.sec2-container .sec2-blocks .block2 h5 {
  margin-bottom: 10px;
  font-size: 15px;
  color: #0e0e0ed0;
}
.sec2-container .sec2-blocks .block2 p {
  font-size: 12px;
  color: #0e0e0e6f;

  font-weight: 400;
  margin-bottom: 15px;
}
.sec2-container .sec2-blocks .block2 button {
  padding: 10px;
  background-color: #09a15c;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.sec2-container .sec2-blocks .block2 button:hover {
  background: linear-gradient(135deg, #50c878, #008000);
  background-color: darkgreen;
  border: 3px solid lightgreen;
  color: white;
}

/* block3 style */
.sec2-container .sec2-blocks .block3 {
  width: 400px;
  background-color: #f7ebcf;
  padding: 25px;
  margin-right: 20px;
  border-radius: 16px;
}
.sec2-container .sec2-blocks .block3 img {
  margin-bottom: 10px;
}
.sec2-container .sec2-blocks .block3 h5 {
  margin-bottom: 10px;
  font-size: 15px;
  color: #0e0e0ed0;
}
.sec2-container .sec2-blocks .block3 p {
  font-size: 12px;
  color: #0e0e0e6f;

  font-weight: 400;
  margin-bottom: 15px;
}
.sec2-container .sec2-blocks .block3 button {
  padding: 10px;
  background-color: #ffc239;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.sec2-container .sec2-blocks .block3 button:hover {
  background: linear-gradient(135deg, #ff4b1f, #ff9068);

  background-color: darkorange;
  border: 3px solid lightcoral;
  color: white;
}

/* sec3 styles */
.sec3-article1 {
  width: 1200px;
  height: 530px;
  margin: 60px 160px;
}
.sec3-article1 .article1-satellite {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.sec3-article1 .article1-content h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
.sec3-article1 .article1-content p {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  color: #0e0e0e80;
  margin-bottom: 30px;
}
.sec3-article1 .article1-satellite .article1-image img {
  border-radius: 24px;
  margin-left: 38px;
  width: 350px;
}
.article1-satellite .article1-infoimage h3 {
  font-size: 26px;
  color: #0e0e0ec3;
  margin-bottom: 10px;
}
.article1-satellite .article1-infoimage .time-date {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.article1-satellite .article1-infoimage .time-date p {
  font-size: 16px;
  color: #0e0e0e9d;
  font-weight: 400;
}
.article1-satellite .article1-infoimage p {
  font-size: 16px;
  color: #0e0e0e9d;
  font-weight: 400;
  margin-bottom: 15px;
}
.article1-satellite .article1-infoimage button {
  padding: 10px;
  background-color: #006a50;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.article1-satellite .article1-infoimage button:hover {
  background: linear-gradient(135deg, #50c878, #008000);
  background-color: darkgreen;
  border: 3px solid lightgreen;
  color: white;
}

/* sec4 styles */
.sec4-container {
  /* width: 1024px; */
  height: 530px;
  margin: 60px 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec4-container .sec4-content {
  text-align: center;
}
.sec4-container .sec4-content h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
.sec4-container .sec4-content p {
  font-size: 13px;
  color: #0e0e0e7e;
  font-weight: 400;
  margin-bottom: 25px;
}
.sec4-container .sec4-box {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
}
.sec4-container .sec4-box .box-child1 {
  /* height: 240px; */
  width: 128px;
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  font-size: 33px;
  border: 1px solid rgba(0, 0, 0, 0.126);
}
.sec4-container .sec4-box .box-child1:hover {
  background: linear-gradient(135deg, #a8e063, #56ab2f);
  border: 2px solid #56ab2f;
  color: #ffffff;
}

.sec4-container .sec4-box .box-child2 {
  width: 128px;
  background-color: #c6e4e0;
  padding: 30px;
  border-radius: 16px;
  font-size: 33px;
  border: 1px solid rgba(0, 0, 0, 0.126);
}
.sec4-container .sec4-box .box-child2:hover {
  background: linear-gradient(135deg, #a8e063, #56ab2f);
  border: 2px solid #56ab2f;
  color: #ffffff;
}

.sec4-container .sec4-box .box-child3 {
  width: 128px;
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  font-size: 33px;
  border: 1px solid rgba(0, 0, 0, 0.126);
}
.sec4-container .sec4-box .box-child3:hover {
  background: linear-gradient(135deg, #a8e063, #56ab2f);
  border: 2px solid #56ab2f;
  color: #ffffff;
}

.sec4-container .sec4-box .box-child4 {
  width: 128px;
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  font-size: 33px;
  border: 1px solid rgba(0, 0, 0, 0.126);
}
.sec4-container .sec4-box .box-child4:hover {
  background: linear-gradient(135deg, #a8e063, #56ab2f);
  border: 2px solid #56ab2f;
  color: #ffffff;
}

.sec4-container .other-amount {
  width: 820px;
  background-color: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 25px;
  font-size: 16px;
  color: #0e0e0e6e;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.126);
}
.sec4-container button {
  padding: 10px;
  background-color: #006a50;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.sec4-container button:hover {
  background: linear-gradient(135deg, #50c878, #008000);
  background-color: darkgreen;
  border: 3px solid lightgreen;
  color: white;
}

/* style sec5 */
.sec5-container {
  /* width: 1024px; */
  height: 350px;
  margin: 60px 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c6e4d6;
  border-radius: 24px;
  gap: 25px;
}
.sec5-container h1 {
  font-size: 33px;
}
.sec5-container .sec5-para {
  font-size: 15px;
  font-weight: 400;
  color: #0e0e0e73;
}
.sec5-container .sec5-form {
  display: flex;
  align-items: center;
  gap: 0px;
}
.sec5-container .sec5-form input {
  border: none;
  padding: 20px 0;
  border-radius: 15px 0 0 15px;
  padding-right: 150px;
  padding-left: 150px;
}
.sec5-container .sec5-form button {
  background-color: #006a50;
  color: white;
  font-weight: 600;
  border: none;
  padding: 20px 0;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 0px 15px 15px 0;
  cursor: pointer;
}
.sec5-container .sec5-form button:hover {
  background: linear-gradient(135deg, #50c878, #008000);
  background-color: darkgreen;
  border: 3px solid lightgreen;
  color: white;
}
.sec5-container .promise {
  font-size: 15px;
  font-weight: 400;
  color: #0e0e0e73;
}
/* sec6 styles */
.sec6-container {
  position: relative;
  height: 150px;
  margin: 60px 160px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  border-radius: 16px;
  background-color: white;
  padding: 40px 32px;
  background-image: url("../assets/quote-bg.png");
  background-size: 55px 55px;
  background-position: 30px 12px;
  background-repeat: no-repeat;
}
.sec6-container .about-yunus {
  font-size: 13px;
  font-weight: 400;
  color: #0e0e0ed2;
  margin-bottom: 16px;
  line-height: 20px;
}
.sec6-container h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}
.sec6-container .subtitile-yunus {
  font-size: 15px;
  font-weight: 400;
  color: #0e0e0e7a;
}
/* style footer */
.Bangladesh {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 25px;
}
.Bangladesh img {
  margin-right: 10px;
}
