.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
  background-color: #f1f1f3;
}

* {
  margin: 0;
  padding: 0;
}

/* sec1 styles */
.sec1-container {
  background-color: #006a504e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 530px;
  margin: 60px 160px;
  padding: 25px;
  border-radius: 24px;
}
.sec1-container .sec1-content .sec1-subtitle {
  font-size: 20px;
  color: #0e0e0e47;
  margin-bottom: 12px;
}
.sec1-container .sec1-content .sec1-heading {
  font-size: 44px;
  margin-bottom: 19px;
}
.sec1-container .sec1-content .sec1-button {
  background-color: #006a50;
  padding: 10px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}

/* sec2 styles */
.sec2-container {
  margin: 60px 160px;
  height: 450px;
}
.sec2-container .sec2-content .sec2-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}
.sec2-container .sec2-content .sec2-paragraph {
  font-size: 12px;
  font-weight: 400;
  color: #0e0e0e7e;
  margin-bottom: 32px;
}
.sec2-container .sec2-blocks {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
/* block1 style */
.sec2-container .sec2-blocks .block1 {
  width: 400px;
  background-color: #548ff55a;
  padding: 25px;
  margin-right: 20px;
  border-radius: 16px;
}
.sec2-container .sec2-blocks .block1 img {
  margin-bottom: 10px;
}
.sec2-container .sec2-blocks .block1 h5 {
  margin-bottom: 10px;
  font-size: 15px;
  color: #0e0e0ed0;
}
.sec2-container .sec2-blocks .block1 p {
  font-size: 12px;
  color: #0e0e0e6f;
  font-weight: 400;
  margin-bottom: 15px;
}
.sec2-container .sec2-blocks .block1 button {
  padding: 10px;
  background-color: #548ff5a4;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}
/* block2 style */
.sec2-container .sec2-blocks .block2 {
  width: 400px;
  background-color: #09a15d5d;
  padding: 25px;
  margin-right: 20px;
  border-radius: 16px;
}
.sec2-container .sec2-blocks .block2 img {
  margin-bottom: 10px;
}
.sec2-container .sec2-blocks .block2 h5 {
  margin-bottom: 10px;
  font-size: 15px;
  color: #0e0e0ed0;
}
.sec2-container .sec2-blocks .block2 p {
  font-size: 12px;
  color: #0e0e0e6f;

  font-weight: 400;
  margin-bottom: 15px;
}
.sec2-container .sec2-blocks .block2 button {
  padding: 10px;
  background-color: #09a15c;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}
/* block3 style */
.sec2-container .sec2-blocks .block3 {
  width: 400px;
  background-color: #f7ebcf;
  padding: 25px;
  margin-right: 20px;
  border-radius: 16px;
}
.sec2-container .sec2-blocks .block3 img {
  margin-bottom: 10px;
}
.sec2-container .sec2-blocks .block3 h5 {
  margin-bottom: 10px;
  font-size: 15px;
  color: #0e0e0ed0;
}
.sec2-container .sec2-blocks .block3 p {
  font-size: 12px;
  color: #0e0e0e6f;

  font-weight: 400;
  margin-bottom: 15px;
}
.sec2-container .sec2-blocks .block3 button {
  padding: 10px;
  background-color: #ffc239;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}
/* sec3 styles */
.sec3-article1 {
  width: 1200px;
  height: 530px;
  margin: 60px 160px;
}
.sec3-article1 .article1-satellite {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.sec3-article1 .article1-content h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
.sec3-article1 .article1-content p {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  color: #0e0e0e80;
  margin-bottom: 30px;
}
.sec3-article1 .article1-satellite .article1-image img {
  border-radius: 24px;
  margin-left: 38px;
  width: 350px;
}
.article1-satellite .article1-infoimage h3 {
  font-size: 26px;
  color: #0e0e0ec3;
  margin-bottom: 10px;
}
.article1-satellite .article1-infoimage .time-date {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.article1-satellite .article1-infoimage .time-date p {
  font-size: 16px;
  color: #0e0e0e9d;
  font-weight: 400;
}
.article1-satellite .article1-infoimage p {
  font-size: 16px;
  color: #0e0e0e9d;
  font-weight: 400;
  margin-bottom: 15px;
}
.article1-satellite .article1-infoimage button {
  padding: 10px;
  background-color: #006a50;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}
/* sec4 styles */
.sec4-container {
  width: 1200px;
  height: 530px;
  margin: 60px 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec4-container .sec4-content {
  text-align: center;
}
.sec4-container .sec4-box {
  display: flex;
  gap: 30px;
}
.sec4-container .sec4-box .box-child1 {
  /* height: 240px; */
  width: 128px;
  background-color: white;
  padding: 30px;
  border-radius: 16px;
}
.sec4-container .sec4-box .box-child2 {
  width: 128px;
  background-color: #c6e4e0;
  padding: 30px;
  border-radius: 16px;
}
.sec4-container .sec4-box .box-child3 {
  width: 128px;
  background-color: white;
  padding: 30px;
  border-radius: 16px;
}
.sec4-container .sec4-box .box-child4 {
  width: 128px;
  background-color: white;
  padding: 30px;
  border-radius: 16px;
}
.sec4-container .other-amount {
  width: 820px;
  background-color: white;
  padding: 20px;
  text-align: center;
}
